.tag {
    display: inline-block;
    margin-right: 10px;
    background: #D9D9D9;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;

    }

    &.highlighted {
        background: rgba(0, 0, 0, 0.7);
        color: white;
    }
}