.input {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40px;
    position: relative;
    font-weight: 600;
    gap: 10px;

    .input-text {
        display: flex;
        padding: 10px;
        border-radius: 5px;
        width:300px;
        background: var(--variable-hoverBG);
        align-items: center;
        flex: 3;
        gap: 10px;
    }

   
    

    input {
        outline: none;
        display: flex;
        flex: 1;
        background: transparent;
        border: none;
        &:disabled {
            cursor: not-allowed;
        }
        color: var(--variable-textSecondary);

    }


    button {
        margin: 0 10px;
        display: inline-block;
        color: black;
        border: none;
        font-size: var(--size-xs);
        
        padding: 3px 9px;
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }

    &.disabled {
        cursor: not-allowed;
    }

    .submit-btn {
        color: var(--variable-backgroundColor);
        background: var(--variable-textSecondary);
        border-radius: 5px;
        padding: 3px 9px;
        cursor: pointer;
        margin-right:0;
        height: 100%;
        position:relative;
        font-size: 16px;
        transition: all 0.2s ease-in-out;
    }

   

}

