.input {
    display: flex;
    height: 40px;
    background: #EEEEEC;
    border-radius: 20px;
    width: 300px;
    align-items: center;
    overflow: hidden;
    border: 2px solid transparent;
    position: relative;
    top: -15px;
    left: -5px;

    input {
        outline: none;
        display: flex;
        flex: 1;
        width: 10px;
        background: transparent;
        border: none;

        &:disabled {
            cursor: not-allowed;
        }
    }

    button {
        margin: 0 10px;
        display: inline-block;
        color: black;
        border: none;
        font-size: var(--size-xs);
        font-weight: 500;
        border-radius: 50%;
        padding: 3px 9px;
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }

    &:focus-within {
        border: 2px solid black;
    }

    &.disabled {
        cursor: not-allowed;
    }
}