.status{
    font-size: 12px;
    margin: 0;
    font-weight: 800;
    position:absolute;
    top: -13px;
    
    &.success {
        color: #3caf8a;
    }   
    &.warning {
        color: #f6ae2d;
    }   
}