.post-heading {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
  border-radius: 10px;
  transition: all 0.6s;

  &.dimmed {
    .right h1,
    .date {
      color: var(--variable-hoverBG);
    }
  }

  .right {
    position: relative;

    h1 {
      font-size: 25px;
      transition: all 0.6s;
      font-weight:600;
      margin: 0;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 5px;
      color: var(--variable-textSecondary);
    }

    .tags {
      position: absolute;
      top: -25px;
      display: none;
    }
  }

  .left {
    width: 150px;
    .date {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      transition: all 0.6s;
    }
  }

  .selected {
    color: black;
  }

  &:hover {

    .date {
      color: var(--variable-text);
      // border-bottom-color:var(--variable-primary);
    }

    .right h1 {
      color: var(--variable-text);
      // text-decoration-color: var(--variable-primary);
    }
  }
}
