.blog-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .poster {

        display: flex;
        flex-direction: column;
        width: 750px;
        margin: 50px auto;
        flex: 1;

        &>h1 {
            font-size: var(--size-l);
        }

        .filters>h1 {
            text-align: center;
            font-size: var(--size-m);
        }
    }

    // .posts {
    //     display: flex;
    //     flex: 1;
    //     flex-direction: column;
    //     height: 10px;
    // }
}