.project-card {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--variable-hoverBG);
  border-radius: 12px;
  position:relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 0.2s ease;
  height: 250px;

  .project-tag{
    position:absolute;
    top: -13px;
    border-radius: 50px;
    background: #EFD780;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: black !important;
  }


  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  .project-title {
    color: var(--variable-primary);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: -5px;
    line-height: 1.3;
    margin-top: 0;
    
    width: 80%;
    position:relative;
  }

  .project-description {
    color: var(--variable-textSecondary);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    margin: 0 0 16px 0;
    flex-grow: 1;
  }

  .project-actions {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: auto;

    .action-button {
      background: var(--variable-hoverBG);
      // background: transparent;
      border: none;
      padding: 6px 16px;
      border-radius: 3px;
      font-size: 13px;
      // border: 1px solid var(--variable-textSecondary);
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;
      color: var(--variable-textSecondary);
    }
    .action-button:hover{
      color: var(--variable-text);
    }
  }
}

html.dark .project-card {
  background: rgba(0, 0, 0, 0.3);
}
