$white: #fff;
$yellow: #f7e018;
$black: #000;
$grey: rgba(0, 0, 0, 0.7);
$l-grey: rgba(58, 58, 58, 0.02);
$bg-grey: rgb(230, 230, 230);
$whitish: rgba(255, 255, 255, 0.7);
$white-hover: rgba(200, 200, 200, 0.4);
$black-hover: rgba(50, 50, 50, 0.8);
$light-green: #62BEC1;
$theme-color: #0D5D56;