@import 'colors';

$variable-prefix: --variable-;

$themes: (
    light:(backgroundColor: $bg-grey,
        primary: $yellow,
        text: $black,
        textSecondary: rgba(0, 0, 0, 0.7),
        theme: 'light'),
    dark:(backgroundColor: #161618, primary: $yellow, text: $white, textSecondary: rgba(255, 255, 255, 0.7), theme: 'dark')
);

// We can be even more implicit and just set the dark variable and 
// map-get rest of the variables from theme object
html[data-theme="light"] {
    @each $key, $value in map-get($themes, light) {
        #{$variable-prefix}#{$key}: $value;
    }
}

html[data-theme="dark"] {
    @each $key, $value in map-get($themes, dark) {
        #{$variable-prefix}#{$key}: $value;
    }
}