.pr-font {
    font-family: "Inter Tight", "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
}

.sec-font {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

.tertiary-font {
    font-family: "Pixelify Sans", sans-serif;
    font-style: normal;
}



.script-font {
    font-family: "Homemade Apple", cursive;
    font-style: normal;
}

.grotesk-font {
    font-family: "Inter Tight", "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
}

.italic {
    font-style: italic;
}
