.pr-font {
    font-family: "Mozilla Headline", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

.sec-font {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}


.italic {
    font-style: italic;
}
