@import 'fonts.scss';
@import 'normalize.scss';
@import '_themes.scss';
@import '_size.scss';
@import 'mixins.scss';
@import 'animations.scss';

$size-prefix: --size-;

:root {
    @include addPrefixToMap($size, $size-prefix);
}

body {
    font-family: 'Rubik';
}


.chunky-underline {
    @include chunky-underline(#F7E018, false, 25%, 10%);
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: var(--variable-backgroundColor);
}

// TODO: Set styles for h1-h6,p,a etc
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--variable-text);
}

p,
span,
a {
    color: var(--variable-textSecondary) !important;
}

::selection {
    background: rgba(247, 224, 24, 0.4);
}