@mixin addPrefixToMap($map, $prefix) {
  @each $key, $value in $map {
    #{$prefix}#{$key}: $value;
  }
}

@mixin chunky-underline($color, $block: false, $size: 20%, $position: 0%) {
  text-decoration: underline;
  text-decoration-color: var(--variable-underline);
  text-decoration-thickness: 3px;
  transition: all 0.3s;
  color: var(--variable-text);
  

  @if $block {
    // Add this pseudoelement if you want to make it block-ish
    &:after {
      content: '';
      display: block;
    }
  }
}

$font-weights: (
  'lit': 300,
  'reg': 400,
  'med': 500,
  'sm': 600,
  'b': 700,
  'bb': 900
);



