@mixin addPrefixToMap($map, $prefix) {

    @each $key, $value in $map {
        #{$prefix}#{$key}: $value;
    }
}

@mixin chunky-underline($color, $block: false, $size: 20%, $position: 0%) {
    background-image: linear-gradient(transparent 0%,
            transparent (100% - $size - $position),
            $color (
            100% - $size - $position),
        $color (
        100% - $position),
        transparent (100% - $position),
        transparent
    );

@if $block {

    // Add this pseudoelement if you want to make it block-ish
    &:after {
        content: '';
        display: block;
    }
}
}