@import '../../styles/colors.scss';

$height: 50px;

.logo {
  position: relative;
  width: 200px;

  #alternate_logo_img {
    
    display: inline-flex;
  }

  #alternate_logo_img img {
    width: #{$height*0.6};
  }

  .hiden {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container img {
    width: 30px !important;
    height: 30px;
  }
  .logo-container #alternate_logo_img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
