@import '../../styles/colors.scss';

$height: 50px;

.logo {
  position: relative;

  #alternate_logo_img img {
    width: #{$height};
  }

  .hiden {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container img {
    width: 40px !important;
    height: 40px;
  }
  .logo-container #alternate_logo_img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
