.subscribe {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    padding: 40px;
    background: var(--variable-hoverBG);

    .heading {
        font-size: var(--size-s);
        margin-top: 0 !important;
        font-weight: 500;
        position: relative;

        
    }

    .desc {
        font-size: var(--size-xs);
        font-weight: 400;
        position: relative;
        top: -20px;
    }

    del {
        color: var(--variable-textSecondary);
    }

    .email-input {
        margin-top: 20px;
    }


}

