.subscribe {
  width: 100%;
  margin: auto;
  padding: 30px 60px;
  

  & > div {
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid var(--variable-hoverBG);
  }

  h1 {
    font-size: 24px;
  }

  .subscribe-subtext {
    font-size: 14px;
    margin-top: 20px;
    position: relative;
    font-weight: 500;
    top: -10px;
    color: var(--variable-subtext);
  }

  form {
    width: 100%;
  }

  .desc {
    font-size: var(--size-xs);
    font-weight: 400;
    position: relative;
    top: -20px;
  }

  del {
    color: var(--variable-textSecondary);
  }

  .email-input {
    margin-top: 20px;
  }
}
