.skeleton {
  // background: url('../../images/pattern2.svg') no-repeat;
  // background-size: cover;
  // Clear the floating nav.
  padding-top: 110px;

  & > div {
    width: 750px;
    margin: auto;
  }
}

@media only screen and (max-width: 900px) {
  .skeleton > div {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    width: 200px;
  }

  .logo #alternate_logo_img {
    justify-content: flex-start;
  }
  .logo #alternate_logo_img img {
    width: 30px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .skeleton > div {
    width: 100%;
  }
}
