.skeleton {
    &>div:not(#footer) {
        width: 750px;
        margin: auto;
    }
}

@media only screen and (max-width: 900px) {
    // TODO: Once deployed

    #navbar .inner,
    #footer>div,
    .skeleton>div:not(#navbar):not(#footer) {
        padding-left: 20px;
        padding-right: 20px;
    }

    #navbar {
        .menu .link {
            font-size: 36px;
        }

    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .logo #alternate_logo_img img {
        width: 100%;
    }

    .blog-post-wrapper {



        .content p {
            font-size: 22px !important;
        }
    }
}

@media only screen and (max-width: 768px) {



    #navbar {
        width: 100%;
        .inner{
            width: 100%;
            margin: 0 auto;

        }
        .menu .link {
            font-size: 16px;
        }
    }
    .skeleton>div:not(#navbar):not(#footer) {
        width: 100%;
    }
}