.divider {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;

  svg {
    width: 30px;
    margin: 0 10px;
  }

  .hr {
    height: 2px;
    flex-grow: 0.4;
    background: var(--variable-primary);
    position: relative;
    bottom: 22px;
    opacity: 0.3;
  }

  svg.wing-star {
    width: 20px;
    position: relative;
    top: 1px;
    margin: 0;
  }
}
