.emoji-wave {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave-animation 2.5s infinite;
    font-size: 30px;
}

.index-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    // width: 750px;

    .poster {
        display: flex;
        width: 750px;
        justify-content: space-around;
        margin: 50px auto;

        .text {
            h1 {
                font-size: var(--size-l);
                font-weight: 500;
                color: var(--variable-textSecondary);
            }

            h1>span {
                color: var(--variable-text);
            }

            p {
                font-size: var(--size-xs);
                font-weight: 400;
                letter-spacing: 0.6px;
                line-height: 1.7rem;
                position: relative;
                top: -20px;
                display: inline-block;
                margin-bottom: 10px;
            }

            .socials span {
                display: inline-block;
                margin-right: 16px;
            }


            .emoji-sound {
                display: inline-block;
                position: relative;
                cursor: pointer;
                font-size: var(--size-s);
                bottom: 10px;
                left: -5px;

            }

            .working-at {
                color: #3395FF;
                font-style: italic;
            }
        }

        .dp>img {
            width: 200px;
        }
    }

    .recent-posts {
        display: flex;
        width: 750px;
        margin: auto;
        flex-direction: column;
        min-height: 100px;
        flex: 1;
        margin-top: 30px;
        // height: 2000px;

        .heading {
            margin-bottom: 10px;
        }

        .heading h1 {
            font-weight: 500;
        }


        .heading p {
            display: inline-block;
            position: relative;
            top: -25px;
            line-height: 24px;
            font-size: 16px;
            font-weight: 400;
        }

    }
}