.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .menu {
        display: flex;
        margin-left: 30px;
        align-items: center;

        .link {
            position: relative;

        }

        .search {
            display: inline-block;
            width: 100px;
            height: 30px;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.2);
            margin-left: 20px;
        }

        &>a,
        &>span,
        &>svg {
            display: inline-block;
            margin-left: 25px;

        }


        &>a {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }


}