#navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  margin-top: 20px;
  top: 0px;
  
  
  
  .backdrop {
    position: absolute;
    inset: 0;
    width: 100%;
  height: 200%;
  backdrop-filter: blur(30px);
  mask-image: linear-gradient(
    to bottom,
    black 0% 50%,
    transparent 50% 100%
  );
  pointer-events: none;
  }
  .inner {
    width: 750px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    
    align-items: center;
    padding: 10px 0;
  }

  .menu {
    display: flex;
    margin-left: 30px;
    align-items: center;

    .link {

      position: relative;
      font-size: 18px;
      color: var(--variable-textSecondary);
      font-weight: 700;
      padding: 7px 10px;
      border-radius: 10px;
      transition: all 0.5s;
    }

    .link:hover,
    .link.active-link {
      color: var(--variable-text);
      background-color: var(--variable-hoverBG);
    }

    & > * {
      display: inline-block;
      margin-left: 35px;
    }

    .theme-switch-container {
      padding: 4px 7px;
      border-radius: 10px;
      background-color: transparent;
      transition: background-color 0.3s;
    }

    .theme-switch-container {
      background-color: var(--variable-hoverBG);
    }
  }
}


// #navbar.sticky {
//   animation: fadeInn 0.5s forwards;

  

//   & .link {
//     font-size: 18px;
//   }

//   .logo,
//   #logo_img,
//   .emojis {
//     height: 50px;
//     width: 50px;
//   }

//   #logo_img {
//     width: 40px;
//   }

//   .menu .link:hover {
//     color: var(--variable-primary);
//   }
// }

@media only screen and (max-width: 768px) {
  #navbar {
    & > .inner {
      width: 100%;
    }
  }


}
