#footer {
    background: rgb(58, 58, 56, 0.02);
    // opacity: 0.02;

    .bottom {
        margin: 60px auto 10px;
        width: 960px;
        display: flex;
        justify-content: space-between;
    }
}