#footer {

    &>div {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 750px;
    }

    background: rgb(140, 140, 140, 0.05);

    .bottom {
        width: 100%;
        margin: 60px auto 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// Fix: Too lazy to scope out these styles
html.dark #footer {
    background: rgba(9, 9, 9, 1);
}