#footer {

    &>div {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 750px;
    }

    .bottom {
        width: 100%;
        margin: 0px auto 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button{
        padding: 10px;
        border-radius: 10px;
        background: var(--variable-hoverBG);
    }
    .divider{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        
        svg{
            width: 30px;
            margin: 0 10px;
        }

       
        
        .hr{
            height: 2px;
            flex-grow: 0.4;
            background: var(--variable-text);
            position: relative;
            bottom: 22px;
            opacity: 0.3;
            
        }
    }
}

@media only screen and (max-width: 750px) {
    #footer {
        &>div {
            width: 100%;
            
        }

        .subscribe {
            padding: 0 20px;
        }

        .bottom{
            margin-top:20px;
        }
    }
}

// Fix: Too lazy to scope out these styles
html.dark #footer {
    background: rgba(9, 9, 9, 1);
}