@use '../../styles/responsive' as r;

.not-found {
    display: flex;
    @include r.column(750px);
    margin-block: clamp(64px, 14vh, 100px);
    min-height: 100vh;
    min-height: 100svh;
    flex-direction: column;

    &>h2 {
        font-size: clamp(1.9rem, 7vw, 2.4rem);
        font-weight: 500;
        color: rgba(100, 100, 100, 0.8);
    }

    &>p {
        font-size: clamp(1.1rem, 4vw, 1.25rem);
        line-height: 2;
    }
}
